<!doctype html>
<html>
    <head>
        <title>Spotify Playlist Recommendation Flask</title>
        <script src="../links/playlist.js"></script>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/sticky_footer.css">
        <link rel="stylesheet" href="../static/css/playlist.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div id="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class="navbar-brand" id="title">Spotify Playlists</p>
                        <img src="../static/imgs/spotify.png" id="icon">
                    </div>
                </div>
            </nav>
        </div>
        <div id="content">
            <div id="container">
                <hr><h1>Playlist Generator Tool</h1><hr><br>
                    <input type="text" placeholder="Artist" id="artist"/>
                    <input type="text" placeholder="Track" id="track"/>
                    <br><br><button id="submitButton" type="submit" class="btn btn-success" onclick="gen_playlist()">Generate playlist</button>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">
                    &copy; |<a href="https://github.com/ejones18"> Ethan Jones </a>
                </span>
            </div>
        </footer>
    </body>
</html>