#header {
  font-family: 'Montserrat', sans-serif;
}

#title {
  font-weight: 600;
  font-style:normal;
  font-size: 30px;
  color: #6AE368;
  margin-top: 10%;
}

#icon {
   height: 40px;
   width: 40px;
   margin-top: 12%;
   position: center;
}
